#login-area {
	max-width: 425px;
	width: 100%;
	min-width: 360px;
    margin: 0 auto;
    justify-content: center;
    background-color: #d3d3d387;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 4px;
    margin-top: 200px;
}

#login-box {
	border-radius: 4px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f9f8f8a6;
}

.center-element {
	width: 300px; 
	margin: 0 auto;	
}

.center {
	text-align: center;
}
