<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="'/servers'">Servers</a></li>
    <li class="breadcrumb-item">{{name}}</li>
  </ol>
</nav>
<div class="offset-md-1 col-md-10">
  <div class="card mb-3">
    <div class="card-body padding-09">
      <div class="row">
        <div class="offset-md-1 col-md-2">
          <label>Server: </label> {{name}}
        </div>
        <div class="col-md-4">
            <label>Description: </label> {{description}}
        </div>
        <div class="offset-md-2 col-md-2 text-center">
          <button class="btn btn-success" (click)="openReservation()"><span>Reserve</span></button>
        </div>
      </div>      
    </div>
  </div>
  <div style="position: relative;">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <th>User email</th>              
              <th>Name</th>     
              <th>Start date</th>
              <th>End date</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let reserve of reservations">
                <td>{{reserve.email}}</td>
                <td>{{reserve.name}}</td>                  
                <td>{{reserve.startDate | date:'dd-MM-yyyy'}}</td>          
                <td>{{reserve.endDate | date:'dd-MM-yyyy'}}</td>
                <td>
                  <span *ngIf="reserve.email == globals.loggedUser.email" 
                        class="delete-action clickable"
                        (click)="cancelReservation(reserve.id)">Cancel</span>
                  <span *ngIf="reserve.email != globals.loggedUser.email">None</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 
        <div class="d-flex justify-content-center">
            <p [hidden]="totalReservations">No reservations</p>
          </div>       
      </div>
    </div>
  </div>    
</div>