<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Servers</li>
  </ol>
</nav>
<div class="offset-md-1 col-md-10">
  <div class="card mb-3">
    <div class="card-body p-2">    
      <form #formularioBusqueda="ngForm">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="name">Name</label>
            <input id="name" name="name" [(ngModel)]="filterOptions.name" class="form-control form-control-sm" placeholder="Server name">
          </div>
          <div class="form-group col-md-3">
              <label for="available">Available</label>
              <select name="available" id="available" class="form-control form-control-sm filter-select" [(ngModel)]="filterOptions.available">
                <option [value]="" [label]="'All'" selected></option>
                <option [value]="true" [label]="'Free'"></option>
                <option [value]="false" [label]="'Busy'"></option>
              </select>
          </div>
          <div class="form-group col-md-5 text-right">
            <label style="display: block;">&nbsp;</label>
            <button class="btn btn-primary" (click)="executeFind(false)"><span>Find</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="position: relative;">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
              <thead>
                <th>Name</th>              
                <th>Description</th>     
                <th>Available</th>
              </thead>
              <tbody>
                <tr *ngFor="let server of servers">
                  <td class="clickable" (click)="openServer(server)">{{server.name}}</td>
                  <td class="clickable" (click)="openServer(server)">{{server.description}}</td>                  
                  <td *ngIf="server.available" class="clickable" (click)="openServer(server)">Free</td>
                  <td *ngIf="!server.available" class="clickable" (click)="openServer(server)">Busy</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <p [hidden]="totalItems">No results</p>
        </div>
        <div class="d-flex justify-content-end">
          <p>Total results: {{totalItems}}</p>
        </div>
        <nav *ngIf="totalItems" class="d-flex justify-content-center">
            <ngb-pagination [boundaryLinks]="true" [collectionSize]="totalItems" [rotate]="true" [maxSize]="5" [(page)]="filterOptions.page" [pageSize]="filterOptions.pageSize" (pageChange)="executeFind(true)"></ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
