<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    </head>
    <body>
    	<div id="login-area">
	        <div class="center" th:if="${param.error}">
	            Incorrect password
	        </div>
	        <div class="center" th:if="${param.logout}">
	            You have logged out
	        </div>
	        <div id="login-box">
		        <form th:action="@{/login}" method="post">
		            <div class="center-element">
		            	<label> Email: <input type="text" style="margin-left: 30px;" name="username"/> </label>
		            </div><br>
		            <div class="center-element">
		            	<label>Password:<input type="password" style="margin-left: 10px;" name="password"/></label>
		            </div><br>		            
		            <div class="center-element">
		            	<input class="center-element" type="submit" value="Login"/>
		            </div>
		        </form>
		    </div>
        </div>
    </body>
</html>