<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TempBuddy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/servers">Servers</a>
        </li>
      </ul>
      <ul class="nav navbar-vav navbar-left">
          <div ngbDropdown placement="bottom-right" style="margin-right: 25px;">
              <button class="btn btn-light btn-sm color-gray" id="dropdown-user" ngbDropdownToggle>{{global.loggedUser?.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdown-user">
                <form #form action="{{global.LOGOUT}}" method="post">
                  <button (click)="form.submit()" class="dropdown-item clickable btn-sm clickable submit-button">
                    <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout
                  </button>
                </form>
              </div>
          </div>
        </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
