/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

label {
	font-weight: 700;
}

.clickable {
	cursor: pointer;
}

.text-required {
	color: red;
}

.delete-action {
	color: red;
	font-weight: 500;
}