<div class="modal-header">
  <h4 class="modal-title">
    Create reservation
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #reserveForm="ngForm" (ngSubmit)="save()">
  <div class="form-group row">
    <label for="startDate" class="col-3">
      <span>Start date</span>
      <span class="text-required">*</span>
    </label>
    <div class="col-9">
        <input id="startDate" ngbDatepicker class="form-control form-control-sm date" name="startDate"
        [(ngModel)]="startDateRaw" #startDate="ngbDatepicker" (focus)="startDate.open()">
    </div>
  </div>
  <div class="form-group row">
      <label for="endDate" class="col-3">
        <span>End date</span>
        <span class="text-required">*</span>
      </label>
      <div class="col-9">
          <input id="endDate" ngbDatepicker class="form-control form-control-sm date" name="endDate"
          [(ngModel)]="endDateRaw" #endDate="ngbDatepicker" (focus)="endDate.open()">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()">
    <span>Save</span>    
  </button>
  <button class="btn btn-secondary ml-3" (click)="cancel()">
    <span>Cancel</span>
  </button>
</div>